<h1 class="vclAlignCentered">
  {{t 'emails.common.greeting' givenName=person.givenName familyName=person.familyName}},
</h1>
<h3 class="vclAlignCentered">
  {{t 'emails.orderConfirmation.message' appName=app.name}}
</h3>

<br>

<table id="ordermeta" class="vclNoBorder vclFloatRight" style="min-width: 18em;">
  <tr>
    <td><b>{{t 'emails.orderConfirmation.orderNumber'}}</b></td>
    <td class="vclAlignRight">{{order.orderNumber}}</td>
  </tr>
  <tr>
    <td><b>{{t 'emails.orderConfirmation.orderDate'}}</b></td>
    <td class="vclAlignRight">{{df orderDate}}</td>
  </tr>
</table>

<div class="vclClear"></div>
<br>
<br>

<table id="address" class="vclTable">
  <tbody>
    {{#if deliveryAddress}}
      <tr>
        <td class="vclSpan-10p">{{t 'emails.orderConfirmation.deliveryAddress'}}</td>
        <td>{{deliveryAddress.givenName}} {{deliveryAddress.familyName}}</td>
      </tr>
      <tr>
        <td> </td>
        <td>{{deliveryAddress.street}}</td>
      </tr>
      <tr>
        <td> </td>
        <td>{{deliveryAddress.postcode}} {{deliveryAddress.locality}}</td>
      </tr>
      <tr>
        <td> </td>
        <td>{{deliveryCountry.name}}</td>
      </tr>
      <tr>
        <td> </td><td> </td>
      </tr>
    {{/if}}
    {{#if billingAddress}}
      <tr>
        <td>{{t 'emails.orderConfirmation.billingAddress'}}</td>
        <td>
          {{#if billingAddress.legalName}}{{billingAddress.legalName}}<br>{{/if}}
          {{billingAddress.givenName}} {{billingAddress.familyName}}
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>{{billingAddress.street}}</td>
      </tr>
      <tr>
        <td> </td>
        <td>{{billingAddress.postcode}} {{billingAddress.locality}}</td>
      </tr>
      <tr>
        <td> </td>
        <td>{{billingCountry.name}}</td>
      </tr>
    {{/if}}
  </tbody>
</table>

<br>

<table id="items" class="vclTable vclSumTable">
  <thead>
    <tr>
      <th>{{t 'emails.orderConfirmation.position'}}</th>
      <th>{{t 'emails.orderConfirmation.name'}}</th>
      <th>{{t 'emails.orderConfirmation.quantity'}}</th>
      <th class="vclAlignRight">{{t 'emails.orderConfirmation.singlePrice'}}</th>
      <th class="vclAlignRight">{{t 'emails.orderConfirmation.itemTotalPrice'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td>{{increment i}}</td>
        <td>{{{name}}}</td>
        <td>{{quantity}}</td>
        <td class="vclAlignRight">{{fullPrice}} {{cs}}</td>
        <td class="vclAlignRight">
            {{total}} {{cs}}
            {{#if freeTax}}
              *
            {{/if}}
        </td>
      </tr>
    {{/each}}
    {{#if hasShipping}}
      <tr>
        <td colspan="3">{{t 'emails.orderConfirmation.shipping'}}</td>
        <td colspan="2" class="vclAlignRight">{{shipping}} {{cs}}</td>
      </tr>
    {{/if}}
    {{#if hasPaymentFee}}
      <tr>
        <td colspan="3">{{t 'components.cart.paymentFees'}}</td>
        <td colspan="2" class="vclAlignRight">{{paymentFee}} {{cs}}</td>
      </tr>
    {{/if}}
    <tr class="vclNoBorder">
      <td colspan="5">&nbsp;</td>
    </tr>
    {{#if taxList}}
      {{#each taxList}}
        <tr class="vclNoBorder">
          <td colspan="3">{{taxName}}</td>
          <td colspan="2" class="vclAlignRight">{{taxAmount}} {{cs}}</td>
        </tr>
      {{/each}}
    {{/if}}

    {{#if voucherResources}}
      {{#each voucherResources}}
        <tr class="vclNoBorder">
          <td colspan="3">{{t 'emails.orderConfirmation.voucher'}}: {{code}}</td>
          <td colspan="2" class="vclAlignRight">({{value}}) {{../cs}}</td>
        </tr>
      {{/each}}
    {{/if}}

    {{#if discount}}
      <tr class="vclNoBorder">
        <td colspan="3">{{t 'emails.orderConfirmation.discount'}}</td>
        <td colspan="2" class="vclAlignRight">{{discount}} {{cs}}</td>
      </tr>
    {{/if}}

    <tr class="vclSumTableTotal">
      <td colspan="3">{{t 'emails.orderConfirmation.total'}}</td>
      <td colspan="2" class="vclAlignRight">{{total}} {{cs}}</td>
    </tr>
  </tbody>
</table>

{{#each items}}
  {{#if voucher}}
    <div class="vclContainer vclScale180p vclAlignCentered">
      <span class="vclText">{{t 'emails.orderConfirmation.voucher'}} {{t 'emails.orderConfirmation.position'}} {{i}}</span>
      <br>
      <strong>{{voucher}}</strong>
    </div>
  {{/if}}
{{/each}}


{{#if hasFree}}
  <p> <sup>*</sup> {{t 'message.free_tax'}} </p>
{{/if}}

<p class="vclAlignCentered">
  {{t 'emails.orderConfirmation.paymentMethod'}}: {{paymentMethodAdditionalType.name}}
</p>

{{#if paymentMethod.details.bankInstitute}}
  <br>

  <p>
    {{t 'emails.orderConfirmation.bankTransfer' cs=cs total=total}}
  </p>

  <table id="vclTable2" class="vclTable">
    <tbody>
      <tr>
        <td>{{t 'emails.orderConfirmation.bank'}}</td>
        <td>{{paymentMethod.details.bankInstitute}}</td>
      </tr>
      <tr>
        <td>{{t 'emails.orderConfirmation.recipient'}}</td>
        <td>{{paymentMethod.details.accountOwner}}</td>
      </tr>
      <tr>
        <td>{{t 'emails.orderConfirmation.bic'}}</td>
        <td>{{paymentMethod.details.bic}}</td>
      </tr>
      <tr>
        <td>{{t 'emails.orderConfirmation.iban'}}</td>
        <td>{{paymentMethod.details.iban}}</td>
      </tr>
    </tbody>
  </table>
{{/if}}

{{#if orderStatusLink}}
  <p class="vclAlignCentered vclHidden-print">
    <a href="{{orderStatusLink}}">{{t 'emails.orderConfirmation.orderStatusLink'}}</a>
  </p>
{{/if}}

<p>
  {{t 'emails.orderConfirmation.note' appName=app.name}}
</p>

<br>

<p class="vclAlignCentered">
  {{{t 'emails.common.footer' appName=app.name}}}
  <br>
  <br>
  <img src="cid:logo"/>
  <br>
  <br>
  {{t 'emails.common.footerText' name=organization.legalName street=organization.address.street
    postcode=organization.address.postcode locality=organization.address.locality
    country=organization.address.country vatID=organization.vatID}}
</p>

